@font-face {
    font-family: "Cafe24Supermagic-Bold-v1.0";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
  }
nav {
    display: flex;
    align-items: center;
    gap: 32px;
    height: 70px;
    padding:0px 20px;
    align-self: stretch;
    flex-direction: row;
}

header {
    display: flex;
width: 311px;
padding: 60px 24px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
}

.badge{
    border-radius: 10px;
background: #E6EEFF;
    padding: 8px 24px;
    align-items: center;
}

header h1{
    color: #333;

font-family: Pretendard;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 38.4px */
letter-spacing: -0.64px;
}

header em{
    background: linear-gradient(99deg, #001f8f 3.58%, rgba(36, 255, 203, 0.5) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name:slide;
    animation-duration: 3s;
    position: absolute;
    animation-iteration-count:infinite;
}

.headerLinkContainer {
    display: flex;
    gap: 16px;
    /* flex-direction: row; */
}

.headerLink {
    border-radius: 16px;
    background: #000;
    padding: 16px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.headerLink02{
    border-radius: 16px;
    border:1px solid #403930;
    background: #FFFFFF;
    padding: 16px 20px;
    color: #000;
    text-decoration: none;
}

.section01{
    display: flex;
padding: 60px 24px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch; 
background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}
.title{
    color: #333;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 22.5px */
    letter-spacing: -0.36px;
}

.content{
    color: #333;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
letter-spacing: -0.28px;
}

.section02{
    display: flex;
padding: 60px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
align-self: stretch;
}
.div02{
    display:flex;
    flex-direction:column;
    padding: 60px 24px;
    justify-content:center;
    gap:32px;
}
.div04{
    color: #000;

    /* sectionTitle */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 108.333% */
    letter-spacing: -0.48px;
}
.div06{
display:flex;
flex-direction: column;
gap:10px;
}
.div07{
    display: flex;
    gap:10px;
}
.div08{
    display:flex;
    gap:10px;
}
.imagepy {
    content: url("python.png");
    height: 50px;
    width: 50px;
}
.imageno {
    content: url("notion.png");
    height: 50px;
    width: 50px;
}
.imageji {
    content: url("jira.png");
    height: 50px;
    width: 50px;
}
.imagec {
    content: url("c.png");
    height: 50px;
    width: 50px;
}
.imagecl {
    content: url("clickup.png");
    height: 40px;
    width: 40px;
}
.image10{
    content: url("Group\ 10.png");
    height: 50px;
    width: 50px;
}
.image11{
    content: url("Group\ 11.png");
    height: 50px;
    width: 50px;
}
.image12{
    content: url("Group\ 12.png");
    height: 50px;
    width: 50px;
}
.image12{
    content: url("Group\ 12.png");
    height: 50px;
    width: 50px;
}
.image13{
    content: url("Group\ 13.png");
    height: 50px;
    width: 50px;
}
.image14{
    content: url("Group\ 14.png");
    height: 40px;
    width: 40px;
}

.myproject{
    display: flex;
width: 351px;
padding: 60px 24px;
justify-content: center;
align-items: center;
background: rgba(244, 244, 244, 0.50);
}

.contactme{
    display: flex;
    position: fixed;
    width: 70px;
    height: 35px;
    right: 60px;
    bottom: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);
}

.contactmeme{
    color: rgba(64, 57, 48, 0.80);
    text-align: center;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
}

.myproject{
    display: flex;
width: 311px;
padding: 60px 24px;
justify-content: center;
align-items: center;
background: rgba(244, 244, 244, 0.50);
flex-direction: column-reverse;
}
.proj00{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
}
.proj01{color: #403930;

    /* sectionTitle */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 108.333% */
    letter-spacing: -0.48px;

/* sectionTitle */
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 108.333% */
letter-spacing: -0.48px;
}
.proj02{
    display: flex;
padding: 24px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}
.thprodes01{
    display: flex;
padding: 24px 16px;
flex-direction: column;
justify-content:end;
align-self: stretch;
border-radius: 16px;
background: #E6EEFF;
height: 400px;
position: relative;
}

.thprodes02{
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

.pro{
    content: url("./pro.png");
    width:265px;
    height: 200px;
    position: absolute;
    bottom: 238px;
    right: 1.8%;
}

.test{
    display: flex;
padding: 60px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
gap:20px;
}

.testdiv01{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.testtitle{
    color: #403930;

/* sectionTitle */
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 108.333% */
letter-spacing: -0.48px;
}
.testcontent{
    display:flex;
    gap: 20px;
    flex-direction: column;
}
.minjae01{
    display: flex;
padding: 24px 16px;
flex-direction: column;
justify-content: center;
gap: 16px;
align-self: stretch;
border-radius: 10px;
background: #FAFAFA;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.gitdiv{

}

.githublink{
    color: #0F5BA1;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
text-decoration-line: underline;
}

.minjaename{
    color: #1866AF;
text-align: right;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 208.333% */
}

.resolution{
    display: flex;
padding: 60px 24px;
flex-direction: column;
justify-content: center;
gap: 10px;
align-self: stretch;
background: #E6EEFF;
}

.resolutiondiv{
    color: #403930;
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 30px */
letter-spacing: -0.48px;
}

.last{
    display: flex;
padding: 40px 0px;
flex-direction: column-reverse;
align-items: flex-start;
justify-content: center;
gap: 16px;
align-self: stretch;
align-items: center;
}

.lastimg{
    content: url("./lastimg.png");
    width: 50px;
    height: 50px;
}

.lastdiv{
    display: flex;
    gap:20px;
}
.insta{
    content: url("./insta.svg");
    width: 20px;
    height: 20px;
}
.facebook{
    content: url("./facebook.svg");
    width: 20px;
    height: 20px;
}
.linkedin{
    content: url("./linkedin.svg");
    width: 20px;
    height:20px;
}

.capy{
    color: var(--Dark, #21243D);
text-align: center;
font-family: Heebo;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}